<!DOCTYPE html> 
<html> 
<head> 
  <title>Remix The City - Admin Page</title> 
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.css" />
  <link rel="stylesheet" href="themes/rtc-theme.min.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
  <link rel="stylesheet" media="only screen and (-webkit-min-device-pixel-ratio: 2)" type="text/css" href="stylesheets/retina.css" />
</head> 
<body> 
<% if (isAdmin) { %>
  <!-- Admin Page -->
  <div data-role="page" id="main"> 
    <div data-role="header">
      <h1 class='logoHeader'></h1>
    </div>
    <div data-role="content">   
      Admin page, admin loged in with <%= username%>
      <br>
      <button id="approveClips" data-inline="true">Approve Clips</button>
      <button id="logoutBtn" data-inline="true">Logout</button>
    </div>
  </div>
  <div data-role="page" id="clipsPage"> 
    <div data-role="header">
      <h1 class='logoHeader'></h1>
    </div>
    <div data-role="content">   
      <h1>Select clips to be removed.</h1>
      <div id="clipsContainer"></div>
      <div data-position="fixed"> 
        <button id="approveAll" data-inline="true">Approve All</button>
        <button id="removeUnprocessed" data-inline="true">Remove All Unprocessed</button>
        <button id="cancelApproval" data-role="button" data-inline="true">Cancel</button>
      </div>
    </div>
  </div>
<% } else { %>
  <!--  Admin Login Page-->
  <div data-role="page" id="login"> 
    <div data-role="header">
      <h1 class='logoHeader'></h1>
    </div>
    <div data-role="content">   
      <!-- <h1>Remix the City Admin</h1> -->
      <p>Please enter your admin username and password.</p>
      <div data-role="fieldcontain" class="ui-hide-label">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" value="" placeholder="Username"/>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" value="" placeholder="Password"/>
      </div>
      <button id="loginBtn">Login</button>
    </div>
  </div>
<% } %>
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.js"></script>
<script src="javascripts/admin.js"></script>
</body>
</html>