<!DOCTYPE html>
<html>
<head>
  <title>Remix The City</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.css" />
  <link rel="stylesheet" href="themes/rtc-theme.min.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
  <link rel="stylesheet" media="only screen and (-webkit-min-device-pixel-ratio: 2)" type="text/css" href="stylesheets/retina.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/tolito-1.0.5.min.css" />
</head>
<body>
<div data-role="page" id="main"> <!--MAIN PAGE -->
  <div data-role="header" class="banner">
    <h1 class='logoHeader'></h1>
  </div><!-- /header -->
  <div data-role="content">
    <div style="text-align: center;">
      <a id="createMixBtn" href="#newMix" data-role="button"  data-theme="a" data-inline="true"/>Create Mix</a>
    </div>
    <div class ="tabs" data-role="navbar" style="width: 350px">
      <ul>
        <li class="fl"><a id="featuredMixes" class="ui-btn-active selected">Featured</a> </li>
        <li class="fl"><a id="recentMixes">Recent</a> </li>
        <li class="fl"><a id="myMixes">My Mixes</a></li>
      </ul>
    </div>
    <div style="clear:both;"></div>
    <div id="mixSlider">
      <div class="mix" style='display: none'>
        <div class="row1">
          <div class="mixPanel mixPanel1">
          </div>
          <div class="mixPanel mixPanel2">
          </div>
        </div>
        <div class="row2">
          <div class="mixPanel mixPanel3">
          </div>
          <div class="mixPanel mixPanel4">
          </div>
        </div>
        <div class="titleRow"></div>
      </div>
      <div class="mix">
        <div class="row1">
          <div class="mixPanel mixPanel1">
          </div>
          <div class="mixPanel mixPanel2">
          </div>
        </div>
        <div class="row2">
          <div class="mixPanel mixPanel3">
          </div>
          <div class="mixPanel mixPanel4">
          </div>
        </div>
        <div class="titleRow"></div>
      </div>
      <div class="mix" style='display: none'>
        <div class="row1">
          <div class="mixPanel mixPanel1">
          </div>
          <div class="mixPanel mixPanel2">
          </div>
        </div>
        <div class="row2">
          <div class="mixPanel mixPanel3">
          </div>
          <div class="mixPanel mixPanel4">
          </div>
        </div>
        <div class="titleRow"></div>
      </div>
    </div>
    <div class="previewTitle">
      <a id="prevRemix" data-role="button" data-theme="a" data-inline="true" class="back"/>Back</a>
      <div class="titleDiv">Rainy days...</div>
      <a id="nextRemix" data-role="button" data-theme="a" data-inline="true" class="next" />Next</a>
      <div style="clear:both;"></div>
    </div>

  </div><!-- /content -->
   <!-- Footer -->
  <div class="footer" data-role="footer" data-theme="b" data-position="fixed" data-tap-toggle="false">   
    <div data-role="navbar" >
      <ul>
      <li><a href="#main" class="ui-btn-active">Mixes</a></li>
      <li><a href="#clipsMain">Clips</a></li>
      </ul>
    </div>
  </div>
</div><!-- /page -->

<div data-role="page" id="clipsMain">
  <div data-role="header" class="banner">
    <h1 class='logoHeader'></h1>
  </div><!-- /header -->
  <div data-role="content">
    <div style="text-align: center;">
       <a id="addVideoBtn" data-role="button" data-theme="a" data-inline="true"/>Add Video</a> 
       <div id="clipsBox" class="thumbnails"></div>
    </div>
    <br>
    <a id='loadMore' data-role="button"  data-mini="true" data-theme="b" data-inline="true"/>Load More</a>
    </br>
  </div><!-- /content -->
   <!-- Footer -->
  <div class="footer" data-role="footer" data-theme="b" data-position="fixed" data-tap-toggle="false"> 
    <div data-role="navbar" >
      <ul>
      <li><a href="#main">Mixes</a></li>
      <li><a href="#clipsMain" class="ui-btn-active">Clips</a></li>
      </ul>
    </div>
  </div>
</div><!-- /page -->

<div data-role="page" id="clip">

  <div data-role="header" class="banner">
    <h1 class='logoHeader'></h1>
  </div><!-- /header -->
  <div data-role="content">
      <p class="info">
      Video Created by ...
      </p>
      <div id="clipWrapper">
      clip goes here
      </div>
      <a id= "backFromClip" data-role="button" data-theme="c" data-inline="true"/>Back</a>
      <a id="saveClip" data-role="button"  data-theme="a" data-inline="true"/>Save to My Videos</a>
      <a id="savedClip" class="ui-disabled" data-role="button"  data-theme="e" data-inline="true" style="display: none;"/> Saved to My Videos </a>
  </div><!-- /content -->
</div><!-- /page -->


<div data-role="page" id="newMix">

  <div data-role="header" class="banner">
    <h1 class='logoHeader'></h1>
  </div><!-- /header -->

  <div data-role="content">
    <div data-role="fieldcontain" class="ui-hide-label">
    <p>Make a mix. Just click the panel to add from your existing clips.</p>  
      <label for="mixTitle">Mix Title:</label>
      <input type="text" name="mixTitle" id="mixTitle" value="" placeholder="Title of New Mix"/>
    </div>
    <div class="mix">
      <div class="row1">
        <div class="mixPanel" id="panel1">
          <a class="addClip">+<span>Add a Clip</span></a>
        </div>
        <div class="mixPanel" id="panel2" >
          <a class="addClip">+<span>Add a Clip</span></a>
        </div>
      </div>
      <div class="row2">
        <div class="mixPanel" id="panel3" >
          <a class="addClip">+<span>Add a Clip</span></a>
        </div>
        <div class="mixPanel" id="panel4">
          <a class="addClip">+<span>Add a Clip</span></a>
        </div>
      </div>
    </div>
    <div style="text-align: center;">
      <a id="cancelCreateMix" href="#main" data-role="button"  data-theme="b" data-inline="true"/>Cancel</a>
      <a id="createMix" data-role="button"  data-theme="a" data-inline="true"/>Create Mix</a>
    </div>
  </div><!-- /content -->
</div><!-- /page -->

<div data-role="page" id="clipLibrary">

  <div data-role="header" class="banner">
    <h1 class='logoHeader'></h1>
  </div><!-- /header -->
  <div data-role="content">
    <div id="clipContainer" class="thumbnails">
      <!-- Contains Clips -->
    </div>
    <br> 
    <a id='moreClipsBtn' data-role="button"  data-mini="true" data-theme="b" data-inline="true"/>Load More</a>
    </br>
    <div style="text-align: center; background-color: #F7F7F7" data-position="fixed">
      <a id="uploadClip" href="#" data-role="button"  data-theme="a" data-inline="true"/>Add Video</a>
      <a id ="closeLibrary" href="#newMix" data-role="button"  data-theme="b" data-inline="true"/>Cancel</a>
    </div>
  </div><!-- /content -->
</div><!-- /page -->

<div data-role="page" id="newClip">
  <div data-role="header" class="banner">
    <h1 class='logoHeader'></h1>
  </div><!-- /header -->
  <div data-role="content">

    <h1>Create a New Clip</h2>
    <p>
      Choose a video on your phone, tablet, or computer that you want to add. Remix the City will upload it, and turn it into a three-second animation. Then you can use it in your mixes.
    </p>
    <p>
      Hint: We recommend you use videos that are recorded in landscape and are less than 10-seconds long in order to speed up the process. Plus, they look better.
    </p>
    <img src="/images/lanscape_mobile.png" style="max-width: 30%"/>
    <p>Record in Landscape</p>

    <input id="fileInput" type="file" accept="video/*" style="position:absolute; top:-100px;">
    <div style="text-align: center;">
      <a id="upload" onclick="" data-role="button"  data-theme="a" data-inline="true"/>Add Video</a>
      <a id="cancelNewClip" data-role="button"  data-theme="b" data-inline="true"/>Cancel</a>
    </div>
  </div><!-- /content -->
</div><!-- /page -->

<div data-role="page" id="uploadingClip">

  <div data-role="header" class="banner">
    <h1 class='logoHeader'></h1>
  </div><!-- /header -->
  <div data-role="content">

    <h1>Uploading New Video</h2>

    <div style="text-align: center;" id="whileUploading">
      <p>
      Hang on a few seconds while Remix the City adds and processes your video.
      </p>
      <div id="progressbar"></div>
      <a id="cancelUploading" href="#newClip" data-role="button"  data-theme="b" data-inline="true"/>Cancel</a>
    </div>
    <div style="text-align: center; display:none;" id="afterUploading">
      <p style="color:Green;">
      Hooray - your video has been added. Now you and your friends can use it when creating a Mix. 
      </p>
      <br>
      <a href="#clipsMain" class="buttons fromMain" data-role="button"  data-theme="b" data-inline="true"/>Close</a>
      <br>
      <a id="backToMix" class="buttons fromMix" data-role="button"  data-theme="a" data-inline="true"/>Back to Mix</a>
    </div>
  </div><!-- /content -->
</div><!-- /page -->
<script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-195726-9', 'remixthecity.com');
   ga('send', 'pageview');
</script>
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
  $(document).ajaxError(function(event, request, settings){
    if(request.status == 401) {
      window.location.replace('/');
    }
  //JQM Configuration
  }).bind('mobileinit', function(){
    $.extend($.mobile, {
      defaultPageTransition: "none"
    });
  });
</script>
<script src="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.js"></script>
<script type="text/javascript" src="javascripts/lib/tolito-1.0.5.min.js"></script>
<script src="javascripts/lib/async.js"></script>
<script src="javascripts/lib/uploader.js?10"></script>
<script src="javascripts/functions.js?r=10"></script>
<script src="javascripts/app.js?r=17"></script>
</body>
</html>
