<div data-role="page" id="fbUserRegister"> 
  <div data-role="header" class="banner">
  <h1 class='logoHeader'></h1>
  </div>
  <div data-role="content">   
  <div style="text-align: center;">
    <p>Welcome! <%= user.name %>, register here.</p>
  </div>
  <p></p>
  </div>
</div><!-- /page -->